#common configuration shared between all applications
configserver:
  name: Docker JHipster Registry
  status: Connected to the JHipster Registry running in Docker

jhipster:
  security:
    authentication:
      jwt:
        base64-secret: NDE5MTIzY2VkNDFhZGFkZjYwZTA2ZjdjMTNkNzNhYjA4NDE5NTIxMzg2ZjBiNTMwY2ZiZGRmNDA5MGMzNWU4MjBjODg4OGM3NTNlNWUyOWRjZGRlM2NiN2U3MGY3MmFkNTIyNA==

eureka:
  client:
    service-url:
      defaultZone: http://admin:${jhipster.registry.password}@jhipster-registry:8761/eureka/
